.active-class {
    background: #16ffa930;
}
.navBtns
{
    width: 25px;
    padding: 2px !important;
    margin-top: 5px;
    margin-right: 10px;
}
html:lang(en){
    font-family:'Rubik', sans-serif !important;
}
html:lang(mn){
    font-family:'Rubik', sans-serif !important;
}
html:lang(kr){
    font-family: 'Nanum Gothic', sans-serif !important;
}

.vertical-nav-menus {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}
.vertical-nav-menus li a{
    display: block;
    line-height: 2.4rem;
    height: 2.4rem;
    padding: 0 1.5rem 0 45px;
    position: relative;
    border-radius: 0.25rem;
    color: #343a40;
    white-space: nowrap;
    transition: all 0.2s;
    margin: 0.1rem 0;
}
.vertical-nav-menus ul {
    border-radius: 15px;
    margin: 0;
    position: relative;
    list-style: none;
    transition: padding 300ms;
    padding: .5em 0 0 2rem;
}
.vertical-nav-menus ul > li > a {
    color: #6c757d;
    height: 2rem;
    line-height: 2rem;
    padding: 0 1.5rem 0;
}
.vertical-nav-menus ul::before {
    content: "";
    height: 100%;
    opacity: 1;
    width: 3px;
    background: #e0f3ff;
    position: absolute;
    left: 20px;
    top: 0;
    border-radius: 15px;
}
.vertical-nav-menus li a:hover
{
    background: #e0f3ff;
    text-decoration: none;
}
.vertical-nav-menus li a.active
{
    background: #e0f3ff;
    text-decoration: none;
}
.google-btn {

    height: 42px;
    background-color: #4285f5;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 0.7vmax;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669f2;
}
.h-42{
    height: 42px;
    float:left;
}
.naver-icon{
    vertical-align: -webkit-baseline-middle;
    width:18px;
    height: 18px;
}
.naver{
    vertical-align: sub;
    margin: 5px;
}
 .google-icon {
    background-color: white ;
    padding: 2px;
}
 .btn-google {
     background-color: #4285f4 !important;
     border-color: #4285f4 !important;
 }
 .btn-text {
     color: white;
 }
 .roboto {
     font-family: Roboto;
 }
