.active-class {
    background: #16ffa930;
}
.navBtns
{
    width: 25px;
    padding: 2px !important;
    margin-top: 5px;
    margin-right: 10px;
}
html:lang(en){
    font-family:'Rubik', sans-serif !important;
}
html:lang(mn){
    font-family:'Rubik', sans-serif !important;
}
html:lang(kr){
    font-family: 'Nanum Gothic', sans-serif !important;
}
